body {
    font-family: Arial;
}

.split-character span {
    display: inline-block;
}

.title {
    display: inline-block;
    overflow: hidden;
    span > span {
        opacity: 0;
        animation: titleAnimation
0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 1 forwards;
    }
}

@keyframes titleAnimation {
    from {
        transform: translate3d(0, 100%, 0);
        opacity: 0;

    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}