html {
    font-size: 17px;
    font-family: Arial;
    font-family:  sans-serif;
    background-image: url(https://www.sciencesetavenir.fr/assets/img/2020/02/28/cover-r4x3w1000-5e58f71453488-capture-d-e-cran-2020-02-28-a-11-54-03.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 100%;
}

body {
    font-family: Arial;
    color:white;
    max-width: 550px;
}

h1 { 
  
    margin: 45px;
      font-size: 35px;
      color: red;
      text-align: center;
}

.important {
    font-weight: bolder;
    color: red;
}

#prems {
    font-style: italic;
}

p {
  text-align: left;
}

